{{#partial "content"}}
<h1>WELCOME TO TRITECHNOLOGY CORPORATIONS</h1>
<a href="/department/new"><button type="submit" class="btn btn-info">Add a Department</button></a>
<a href="/generalnews"><button type="submit" class="btn btn-info">Add company's news</button></a>


{{/partial}}
{{> layout.hbs}}
<style>
h1{
color:white;
text-align:center;
margin-top:100px;
font-family: 'Playfair Display', serif;
font-size:70px;
}
button{
position:relative;
left:450px;
font-family: 'Playfair Display', serif;
color:black;
}
</style>