{{#partial "content"}}
<h1>Welcome You Have Registerd A Department</h1>
<a href="/users"><button type="submit" class="btn btn-success">see all the users</button></a>
{{/partial}}
{{> layout.hbs}}
<style>
h1{
color:white;
margin-top:100px;
text-align:center;
}
button{
margin-left:600px;
}
</style>